@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
/* about.css */

body {
    background-color: #fbe8fc;
    font-family: 'Raleway', sans-serif;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

.about-title {
    font-size: 2rem;
}

.row {
    height: auto;
}

.part-one {
    margin-top: 82px;
}

.part-one .text1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.part-one .text1 span {
    color: #de33b6;
}

.part-one .intro {
    font-size: 1.8rem;
}

.part-one .intro span {
    color: #de33b6;
    font-weight: 600;
}

.button-custom-about {
    font-size: 16px;
    background-color: #de33b6;
    color: #fbe8fc;
    border: none;
    padding: 15px 29px;
    border-radius: 8px;
}

.part-two img {
    width: 100%;
}

.course {
    background-color: #fbe8fc;
    font-family: 'Raleway', sans-serif;
}

.course.dark-mode {
    background-color: #000;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 180px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 90px;
    width: 250px;
    padding: 15px 32px;
}

.slider .slide img {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}
